* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.last {
  padding-bottom: 144px;
}

.header {
  position: relative;
  background-color: #E1FF8F;
  padding-top: 200px;
  min-height: 500px;
}
.header-text {
  position: relative;
  max-width: 769px;
  margin-left: 120px;
  z-index: 10;
}
.header__heading1 {
  font-size: 63px;
  font-weight: 700;
  font-family: Montserrat;
}
.header__par {
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat;
  margin-top: 24px;
}
.header__but {
  width: 247px;
  font-size: 24px;
  height: 66px;
  border-radius: 60px;
  text-decoration: none;
  background-color: black;
  color: #ffffff;
  margin-top: 48px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  text-align: center;
  border: none;
}
.header-fill {
  width: 247px;
  font-size: 24px;
}

.scrolling {
  z-index: 1;
  overflow-x: scroll;
}
.scrolling-line {
  position: relative;
  display: flex;
  gap: 51px;
  list-style-type: none;
  height: 90px;
  align-items: center;
  background-color: #BCEC30;
  width: -moz-max-content;
  width: max-content;
}
.scrolling__klick {
  width: -moz-fit-content;
  width: fit-content;
}
.scrolling__klick--a {
  color: black;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}

.menu {
  background-color: black;
  padding-top: 94px;
}
.menu-text {
  max-width: 1021px;
}
.menu__heading1 {
  font-size: 63px;
  font-weight: 700;
  font-family: montserrat;
  color: #FFFFFF;
  width: 320px;
}
.menu__par {
  font-size: 24px;
  font-weight: 400;
  font-family: montserrat;
  margin-top: 24px;
  color: #FFFFFF;
}
.menu-topgames {
  position: relative;
  display: flex;
  gap: 32px;
  margin-top: 72px;
  width: 1201px;
}
.menu-topgames__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}
.menu-minigames {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-minigames__block {
  flex-direction: column;
  gap: 32px;
}

.cart {
  background-color: #ffffff;
  border-radius: 30px;
}
.cart-small {
  height: 473px;
}
.cart-big {
  height: 512px;
}
.cart__img {
  width: 100%;
  border-radius: 30px;
  height: 314px;
}
.cart__text {
  max-width: 314px;
  padding: 32px;
}
.cart__par {
  width: 108px;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  font-family: Montserrat;
  background-color: #F7F7F7;
  border-radius: 52.58px;
  text-align: center;
}
.cart__h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: Montserrat;
  margin-top: 16px;
}
.cart-mini {
  display: flex;
  max-height: 500px;
  justify-content: space-between;
}
.cart-mini__text {
  width: 50%;
  margin: 48px 0 0 48px;
  max-width: 504px;
  max-height: 249px;
}
.cart-mini__h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: Montserrat;
  color: #202027;
}
.cart-mini__par {
  font-size: 24px;
  font-weight: 400;
  font-family: Montserrat;
  color: #202027;
  margin-top: 24px;
}
.cart-mini__but {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  color: #ffffff;
  background-color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  margin-top: 36px;
}
.cart-mini__img {
  width: 50%;
  border-radius: 30px;
  height: 500px;
}

.img-1 {
  background-color: #AD61FF;
  position: relative;
}

.img-2 {
  background-color: #271A58;
}

.img-3 {
  background-color: #FDAD00;
}

.img-4 {
  background-color: #99D100;
}

.img-5 {
  background-color: #565EEF;
}

.img-6 {
  background-color: #271A58;
}

.star1 {
  position: absolute;
  top: 0px;
  right: 0;
}
.star1-mob {
  display: none;
}

.star2 {
  position: absolute;
  top: 95px;
  left: 64px;
}

.star3 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star4 {
  position: absolute;
  top: 548px;
  right: 344px;
}

.star5 {
  position: absolute;
  top: 538px;
  right: 445px;
}

.mini-star {
  position: absolute;
  top: -238px;
  right: 878px;
  z-index: 0;
}

.mini-star1 {
  position: absolute;
  top: 400px;
  left: -100px;
  z-index: 0;
}

.mini-star2 {
  position: absolute;
  top: 450px;
  left: -70px;
  z-index: 0;
}

.mini-sta3 {
  position: absolute;
  right: 410px;
}

.mini-sta4 {
  position: absolute;
  right: 410px;
}

.footer-line {
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #BCEC30;
  justify-content: center;
}
.footer-line__p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}

.mobile {
  display: none;
}

@media (max-width: 425px) {
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #E1FF8F;
    padding-top: 0;
    min-height: 425px;
    flex-direction: column;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 343px;
    margin: 147px 17px 131px;
    width: 296px;
  }
  .header__heading1 {
    font-size: 40px;
    text-align: center;
    width: 262px;
  }
  .header__par {
    font-size: 16px;
    margin-top: 36px;
    text-align: center;
  }
  .header__but {
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin: 35px 48px;
  }
  .from-games {
    display: none;
  }
  .star1 {
    display: none;
  }
  .star1-mob {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu {
    padding: 48px 16px;
  }
  .menu__heading1 {
    font-size: 40px;
  }
  .menu__par {
    font-size: 24px;
    font-weight: 400;
    font-family: montserrat;
    margin-top: 24px;
    color: #FFFFFF;
  }
  .menu-topgames {
    position: relative;
    display: flex;
    gap: 32px;
    margin-top: 72px;
    width: 425px;
  }
  .menu-topgames__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
  }
  .menu-minigames {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .menu-minigames__block {
    display: flex;
    flex-direction: column;
  }
  .cart-mini {
    display: none;
  }
  .cart-mini__but {
    margin-top: 0;
    margin-bottom: 32.67px;
  }
  .cart__text {
    display: flex;
    flex-direction: column;
    padding: 29.04px 0;
    width: 285px;
  }
  .cart__par {
    width: 285px;
    margin-top: 16px;
    text-align: left;
  }
  .cart__h2 {
    margin-top: 0;
  }
  .cart__img {
    height: 284.9259338379px;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-line {
    height: 100px;
    max-width: 425px;
  }
  .footer-line__p {
    font-size: 16px;
    font-weight: 600;
    margin: 40px 92px;
  }
  .star2 {
    position: absolute;
    top: 95px;
    left: 37px;
  }
  .star3 {
    position: absolute;
    top: 69px;
    left: 91px;
  }
  .star4 {
    position: absolute;
    top: 580px;
    right: 34px;
  }
  .star5 {
    position: absolute;
    top: 557px;
    right: 86px;
  }
  .mini-star3 {
    display: none;
  }
  .mini-star4 {
    display: none;
  }
  .scrolling-line {
    height: 51.3391158975px;
    gap: 27.4px;
  }
  .scrolling__klick--a {
    font-size: 16px;
  }
  .scrolling__star {
    width: 16px;
    height: 16px;
  }
}/*# sourceMappingURL=stile.css.map */