* {
    margin: 0;
    padding: 0;
}


.center {
    padding-left: calc(50% - 1440px / 2);
    padding-right: calc(50% - 1440px / 2);
}

.last {
    padding-bottom: 144px;
}

.header {
    position: relative;
    background-color: #E1FF8F;
    padding-top: 200px;
    min-height: 500px;
    


    &-text {
        position: relative;
        max-width: 769px;
        margin-left: 120px;
        z-index: 10;
    }

    &__heading1 {
        font-size: 63px;
        font-weight: 700;
        font-family: Montserrat;
    }

    &__par {
        font-size: 24px;
        font-weight: 400;
        font-family: Montserrat;
        margin-top: 24px;
    }

    &__but {
        width: 247px;
        font-size: 24px;
        height: 66px;
        border-radius: 60px;
        text-decoration: none;
        background-color: black;
        color: #ffffff;
        margin-top: 48px;
        font-family: Montserrat;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 24px;
        text-align: center;
        border: none;

    }

    &-fill {
        width: 247px;
        font-size: 24px;
    }
}

.scrolling {
    z-index: 1;
    overflow-x: scroll;

    &-line {
        position: relative;
        display: flex;
        gap: 51px;
        list-style-type: none;
        height: 90px;
        align-items: center;
        background-color: #BCEC30;
        width: max-content;
    }

    &__klick {
        width: fit-content;

        &--a {
            color: black;
            text-decoration: none;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 30px;
            line-height: 110.00000000000001%;
        }
    }
}

.menu {
    background-color: black;
    padding-top: 94px;

    &-text {
        max-width: 1021px;
    }

    &__heading1 {
        font-size: 63px;
        font-weight: 700;
        font-family: montserrat;
        color: #FFFFFF;
        width: 320px;
    }

    &__par {
        font-size: 24px;
        font-weight: 400;
        font-family: montserrat;
        margin-top: 24px;
        color: #FFFFFF;
    }

    &-topgames {
        position: relative;
        display: flex;
        gap: 32px;
        margin-top: 72px;
        width: 1201px;


        &__block {
            display: flex;
            flex-direction: column;
            gap: 32px;
            z-index: 1;
        }
    }

    &-minigames {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__block {
            flex-direction: column;
            gap: 32px;
        }
    }
}

.cart {
    background-color: #ffffff;
    border-radius: 30px;

    &-small {
        height: 473px;
    }

    &-big {
        height: 512px;
    }

    &__img {
        width: 100%;
        border-radius: 30px;
        height: 314px;
    }

    &__text {
        max-width: 314px;
        padding: 32px;
    }

    &__par {
        width: 108px;
        height: 36px;
        font-size: 15px;
        font-weight: 500;
        font-family: Montserrat;
        background-color: #F7F7F7;
        border-radius: 52.58px;
        text-align: center;
    }

    &__h2 {
        font-size: 32px;
        font-weight: 700;
        font-family: Montserrat;
        margin-top: 16px;
    }

    &-mini {
        display: flex;
        max-height: 500px;
        justify-content: space-between;

        &__text {
            width: 50%;
            margin: 48px 0 0 48px;
            max-width: 504px;
            max-height: 249px;
        }

        &__h2 {
            font-size: 48px;
            font-weight: 700;
            font-family: Montserrat;
            color: #202027;
        }

        &__par {
            font-size: 24px;
            font-weight: 400;
            font-family: Montserrat;
            color: #202027;
            margin-top: 24px;
        }

        &__but {
            width: 247px;
            height: 66px;
            border-radius: 60px;
            color: #ffffff;
            background-color: #202027;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            margin-top: 36px;
        }

        &__img {
            width: 50%;
            border-radius: 30px;
            height: 500px;
        }
    }
}


.img-1 {
    background-color: #AD61FF;
    position: relative;
}

.img-2 {
    background-color: #271A58;
}

.img-3 {
    background-color: #FDAD00;
}

.img-4 {
    background-color: #99D100;
}

.img-5 {
    background-color: #565EEF;
}

.img-6 {
    background-color: #271A58;
}

.star1 {
    position: absolute;
    top: 0px;
    right: 0;
    
    &-mob {
        display: none;
    }
}

.star2 {
    position: absolute;
    top: 95px;
    left: 64px;  
}

.star3 {
    position: absolute;
    ;
    top: 69px;
    left: 156px;
}

.star4 {
    position: absolute;
    top: 548px;
    right: 344px;
}

.star5 {
    position: absolute;
    top: 538px;
    right: 445px;
}

.mini-star {
    position: absolute;
    top: -238px;
    right: 878px;
    z-index: 0;
}

.mini-star1 {
    position: absolute;
    top: 400px;
    left: -100px;
    z-index: 0;
}


.mini-star2 {
    position: absolute;
    top: 450px;
    left: -70px;
    z-index: 0;
}

.mini-sta3 {
    position: absolute;
    right: 410px;
}

.mini-sta4 {
    position: absolute;
    right: 410px;
}

.footer-line {
    display: flex;
    height: 150px;
    align-items: center;
    background-color: #BCEC30;
    justify-content: center;

    &__p {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
    }
}

.mobile {
    display: none;
}

@import 'mob';